<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @segment.name %>
</p>

<p>
  <b>Price:</b>
  <%= @segment.price %>
</p>

<p>
  <b>Banner:</b>
  <%= @segment.banner_id %>
</p>


<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
